<body class="body" >
  <div class="container_img">
    <img class="image" src="../assets/images/assiette_tomate.jpeg">
  </div>
  <div class="command">
    <h4 class="header_command">
      My cart
    </h4>
    <ul>
      <li *ngFor="let recipe of test">
        <div class="container_product" *ngIf="test.indexOf(recipe)!=0">
          <p class="recipe_name">{{recipe.name}}</p>
          <p class="recipe_price">{{recipe.price}} €</p>
          <button class="button">delete</button>
        </div>
      </li>
    </ul>
    <div class="total">
      Total: {{Total}} €
    </div>
  </div>
</body>
