.company_name{
  font-family:'Great Vibes', cursive;
  color: silver;
  font-size: 200%;
  position: fixed;
  left: 65%;
  top: 20%;
}

.frontext{
  color: silver;
  font-size: 50px;
  font-family:'Great Vibes', cursive;
  position: fixed;
  left: 33%;
  top: 12%;
}

.question{
  color: silver;
  font-weight: bold;
  font-family:'Great Vibes', cursive;
  font-weight: inherit;
  position: fixed;
  top: 35%;
  left: 43%;
  font-size: 40px;
}

.login{
  background: none;
  color: silver;
  font-size: 200%;
  font-family:'Great Vibes', cursive;
  position: fixed;
  top: 55%;
  left: 18%;
  text-decoration: none;
}

.home{
  background: none;
  color: silver;
  font-size: 200%;
  font-family:'Great Vibes', cursive;
  position: fixed;
  top: 55%;
  left: 65%;
  text-decoration: none;
}
