<div [ngStyle]="{'background': 'url('+image+') no-repeat', 'background-size': '100%', 'height':'100%'}">
  <div class ="company_name">
    ... By Good-Food2.0
  </div>
  <div class="frontext">
    Best product for better experience
  </div>
  <div class="question">Already taste it?</div>
  <nav>
    <a class="login" routerLink="/login" routerLinkActive="active">Yes, connect to my account</a>
    <a class="home" routerLink="/home" routerLinkActive="active"> No, begin my new exeperience</a>
  </nav>
</div>
