.body{
  background: no-repeat;
  background-size: contain;
  background-size: 100%;
  height: 100%;
}

div#signin_div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input {
  width: 24vw;
  height: 5vh;
  border-radius: 8px;
  border: 1px solid #5e5e5e;
  padding: 15px;
  margin: 10px 0;
  min-width: 250px
}

.signIn{
  color:white;
  text-align: Center;
  font-size: 300%;
  margin: 25px 0;
}

nav {
  position: absolute;
  top: 5vh;
  left: 7vw;
}

.image{
  height: 3vh;
  filter: invert(100%);
  margin-right: 15px;
}

.imgpos{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.imgpos:hover {
  cursor: pointer;
}

.BackHome{
  color: white;
  font-size: 130%;
}

.submit{
  background-color:white;
  border-radius: 8px;
  color: #5e5e5e;
  height: 40px;
  width: 10vw;
  border: 1px solid #5e5e5e;
  margin: 25px;
  min-width: 130px;
  transition: background-color 0.5s, color 0.5s, font-weight 0s;
}

.submit:hover {
  background-color: #e8e8e8;
  color: #272727;
  font-weight: 500;
}

#login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  height: 20vh;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(21px);
  overflow: hidden;
}
