.body{
  background: no-repeat;
  background-size: contain;
  background-size: 100%;
  height: 100%;
}

.input1{
  position: fixed;
  top:45%;
  border-radius:15px;
  padding-left: 1%;
  left: 37%;
  height: 4%;
  width: 30%;
}

.input2{
  position: fixed;
  top: 54%;
  border-radius:15px;
  padding-left: 1%;
  left: 37%;
  height: 4%;
  width: 30%;
}

.signIn{
  font-family:'Great Vibes', cursive;
  color:white;
  text-align: Center;
  font-size: 300%;
  position: relative;
  top: 30vh;
}

.image{
  height: 5vh;
  filter: invert(100%);
}

.imgpos{
  position:absolute;
  top: 7vh;
  left: 5vw;
}

.BackHome{
  color: white;
  font-family:'Great Vibes', cursive;
  position: absolute;
  top: 7.5vh;
  left: 9vw;
  font-size: 130%;
}

.submit{
  background-color:white;
  font-family:'Great Vibes', cursive;
  font-size: 120%;
  border-radius: 10px;
  color: black;
  position: absolute;
  height: 40px;
  width: 20vh;
  top: 70vh;
  left: 47.5vw;
}

