<div id=login [ngStyle]="{'background': 'url('+image+') no-repeat', 'background-size': 'cover', 'height':'100%'}">
  <nav routerLink="/home">
    <a class="imgpos">
      <img class="image" src="../../assets/images/left_arrow.png">
      <span class="BackHome">Home</span>
    </a>
  </nav>
  <div id="signin_div">
    <div class="signIn">Sign In</div>
    <input  class="input"
            placeholder="Login"
            [(ngModel)]="user.mail">
    <input  class="input"
            placeholder="Password"
            [(ngModel)]="user.password">
    <button class="submit"
            (click)="onClick()">
            Connect
    </button>
  </div>
</div>
