<div class="footer">
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <!-- for the raw -->
      <div id=footer_one>
        <a href="#" routerLink="faq">FAQ</a>
      </div>
      <div id=footer_two>
        <a href="#" routerLink="franchise">Franchise</a>
      </div>
      <div id=footer_three >
        <a href="#" routerLink="contactus">Contact us</a>
      </div>
      <div id=footer_for>
        <a class="nav-link" href="#" routerLink="aboutus">About us<span class="sr-only"></span></a>
      </div>
    </div>
  </div>
</div>
