<div [ngStyle]="{'background': 'url('+image+') no-repeat', 'background-size': '100%', 'height':'100%'}">
  <nav routerLink="/home">
    <a class="imgpos">
      <img class="image" src="../../assets/images/left_arrow.png">
    </a>
    <a>
      <div class="BackHome">Home</div>
    </a>
  </nav>
    <div class = "signIn">Sign In</div>
    <input  class = "input1"
            placeholder= "enter your login"
            [(ngModel)]="user.mail">
    <input  class = "input2"
            placeholder="enter your password"
            [(ngModel)]="user.password">
    <button class = "submit"
            (click)="onClick()">connect</button>
</div>
