<body id="body" [ngStyle]="{'background': 'url('+image+') no-repeat'}">
  <h4 class="header_title">
    <div class="cont_title">
      <p class="title_name1"> Menu for </p>
      <p class="title_boulet"> •    </p>
      <p class="title_name2">   {{restaurant.name}}  </p>
      <p class="title_boulet">     •</p>
    </div>
  </h4>
  <div class="container">
    <div class="row gy-3">
      <div class="d-flex col-lg-3" *ngFor="let recipe of recipes.data">
          <div class="card shadow p-3 bg white rounded">
            <img class="card-img-top" src="../assets/recipes/{{recipe.image_name}}">
            <div class="card-body">
              <h5 class="card-title">
                  {{recipe.name}}
              </h5>
              <div class="ingredients" >
                  <div class="p" *ngFor="let ingredient of recipe.ingredients">
                    <p class="p">{{ingredient}}</p>
                    <p class="p" *ngIf="recipe.ingredients.indexOf(ingredient)!= recipe.ingredients.length-1">, </p>
                  </div>
              </div>
              <div class="button_price">
                <div>
                </div>
                <button id="addButton" (click)="onClick(recipe)">Add to cart</button>
                <div id="price">{{recipe.price}} €</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
