<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand" href="#" routerLink="body">
        <img src="../assets/images/logo.png" width="80" height="80" alt="">
      </a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="franchise">franchise<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="aboutus">about us<span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
    <button class="signIn" routerLink="/login">Sign in</button>
  </nav>
</div>

