<body id="body" [ngStyle]="{'background': 'url('+image+') no-repeat'}">
  <img class=logo src="../assets/images/logo.png">
  <form class="form">
    <h4 class="header_title">
      <p class="title_name1">three ways for contact:</p>
      <div>
        <p class="title_name2" [ngStyle]="{'position':'fixed', 'top':'10%', 'left':'7%'}">Mail:</p>
        <p class="mail" [ngStyle]="{'position':'fixed', 'top':'25%', 'left':'30%'}"><a>good.food@gmail.com</a></p>
      </div>
      <div>
        <p class="title_name2" [ngStyle]="{'position':'fixed', 'top':'25%', 'left':'7%'}">Phone:</p>
        <p class="tph" [ngStyle]="{'position':'fixed', 'top':'41%', 'left':'30%'}">+33 1.70.12.24.35</p>
      </div>
      <div>
        <p class="title_name2" [ngStyle]="{'position':'fixed', 'top':'45%', 'left':'7%'}">Address:</p>
        <p class="tph" [ngStyle]="{'position':'fixed', 'top':'60%', 'left':'30%'}"> 24 avenue du bon moment <br> 75000 PARIS</p>
      </div>
    </h4>
  </form>
</body>

