#downCloseButton{
  background-color:hwb(15 2% 22%);
  font-style: italic;
  color: white;
}

#modalHeader{
  background-color:hwb(15 2% 22%);
  text-align: center;
  color: white;
}

.modal-title{
  margin: auto;
  text-align: center
}
