<div id="aboutus">
  <div id="image">
    <img href="#" src="../assets/images/logo.png">
  </div>
  <div>
    <p>
      Good Food 2.0 was founded in 1992. The company is issued from
      a strong relationship between four food-corporate leaders. Cooking is a passion and particularly
      balanced meals. To do the best, this is relevant for us to purpose a cook different as the other-one. Based on
      fresh products, it is clothe to our heart to feel differents when you discover our taste.
      That's why you will begin a new experience in our restaurants because we are attached
      to choose the best products.
      The headquarter of our business is located in Paris. Since the Idea was born,
      company was grow across the word.
      All foodstuff are cultivated localy.
    </p>
  </div>
</div>
