  <body id="body" >
    <div>
      <header id="header">
        <p class="title_boulet"> •    </p>
        <p class="title_title">Good Food 2.0</p>
        <p class="title_boulet"> •    </p>
      </header>
      <form id="form">
        <select name="country" id="country" [(ngModel)]="country">
          <option value="" disabled selected>Select Country</option>
          <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
       </select>
        <input
        id="postCode"
        placeholder="enter your zip code"
        [(ngModel)]="postCode"
        [ngModelOptions]="{standalone: true}"
         >
        <button id="valid" (click)="onClick()">
          Valid
        </button>
      </form>
    </div>
    <div id="carousel">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper ">
            <img id=img [src]="images[0]" alt="Random first slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img id=img [src]="images[1]" alt="Random second slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img id=img [src]="images[2]" alt="Random third slide">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </body>
